:root {
  --dark1: #0d0e0f;
  --dark2: #282c34;
  --dark3: #35373a;
  --dark4: #515358;
  --dark5: #6e7074;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--dark2);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
  max-width: 80%;
}

.zadani {
  text-align: left;
}

.text-input {
  background-color: var(--dark5);
  border: 0;
  border-radius: 10px;
  font-size: calc(20px + 2vmin);
}

.button {
  border: 0;
  border-radius: 10px;
  background-color: var(--dark5);
  font-size: calc(20px + 2vmin);
  padding: calc(1px + 1vmin);
}

.button:hover{
  cursor: pointer;
  background-color: var(--dark4);
}

.button:active {
  background-color: var(--dark3);
}

.bottom-container {
  margin-top: calc(5px + 1.5vmin);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.result-text {
  margin-left: calc(5px + 1.5vmin);
  white-space: initial;
}

.correctness-true {
  color: green;
}

.correctness-false {
  color: red;
}

.from-to {
  display: flex;
  flex-direction: row;
}

.num-selection {
  background-color: var(--dark5);
  border: none;
  margin: calc(5px + 1.5vmin);
  max-width: 40%;
  font-size: calc(20px + 2vmin);
  border-radius: 10px;
}

.radioContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.first-row {
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.button-clear {
  background-color: var(--dark2);
}

.settings-container-main {
  position: absolute;
  /* left:0;
  top:0;
  right: 0;
  bottom: 0;
  margin: auto; */
  left:50vw;
  top: 50vh;
  /* transform: translate(-50vw,-50vh); */
  transform: translate(-50%,-50%);
  margin: 0;
  background-color: var(--dark1);
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 22px;
  opacity: 0.95;
}

.settings-container-main-enter {
  position: absolute;
  transform: translateY(-110vh);
}

.settings-container-main-enter-active {
  transform: translateY(0);
  transition: all 5000ms ease-in;
}

.settings-container-main-exit {
  position: absolute;
}

.settings-container-main-exit-active {
  transform: translateY(-110vh);
  transition: all 5000ms ease-in;
}

.settings-close-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
}

.close {
  width: 50px;
  height: 50px;
  cursor: pointer;
  fill:white;
  opacity: 0.85;
}

.close:hover {
  /* fill: #6e7074; */
  opacity: 0.6;
}