.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
  max-width: 80%;
}

.zadani {
  text-align: left;
}

.text-input {
  background-color: #6e7074;
  border: 0;
  border-radius: 10px;
  font-size: calc(20px + 2vmin);
}

.confirm {
  border: 0;
  border-radius: 10px;
  background-color: #6e7074;
  font-size: calc(20px + 2vmin);
  padding: calc(1px + 1vmin);
}

.confirm:hover{
  cursor: pointer;
  background-color: #515358;
}

.confirm:active {
  background-color: #35373a;
}

.bottom-container {
  margin-top: calc(5px + 1.5vmin);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.result-text {
  margin-left: calc(5px + 1.5vmin);
  white-space: initial;
}

.correctness-true {
  color: green;
}

.correctness-false {
  color: red;
}

.from-to {
  display: flex;
  flex-direction: row;
}

.num-selection {
  background-color: #6e7074;
  border: none;
  margin: calc(5px + 1.5vmin);
  max-width: 40%;
  font-size: calc(20px + 2vmin);
  border-radius: 10px;
}

.radioContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.settings-opener {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  cursor: pointer;
  width: 100%;
  margin-top: calc(5px + 1.5vmin);
  user-select: none;
}

.settings-opener-open {
  /* background-color: #515358; */
}

.settings-opener-closed {
  /* background-color: #6e7074; */
}

.triangle-css {
  /* margin-right: calc(5px + 1.5vmin); */
  height: 0;
  width: 0;
  /* margin-left: calc(5px + 1.5vmin); */
}


.triangle-open {
  margin: 10px;
  margin-right: 0;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;

  /* border-top: 30px solid #6e7074;
  border-bottom: 30px solid #6e7074; */
  border-top: 40px solid #6e7074;
}

.triangle-closed {
  margin-right: 30px;
  /* border-color: #6e7074; */
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;

  /* border-top: 30px solid #6e7074;
  border-bottom: 30px solid #6e7074; */
  border-left: 40px solid #6e7074;
}

.settings-container {
  position: absolute;
  /* left: 50vw;
  transform: translate(0,-50vw); */
}

.settings-container-main {
  /* display: flex; align-items: flex-start;
  justify-content: flex-start; */
}

/* asi predelat na popup, unlucky */